<p>Adventure</p>
<p> Country: <%= @adventure.country() %> </p>
<p> Continent: <%= @adventure.continent()  %> </p>


<p>Cities</p>
<% for city in @cities %>
<p>Name: <%= city.name() %> </p>
<p>Interest: <%= city.interest() %> </p>
<% end  %>

<p>
  <p>Add some cities and sights to your adventure...<p/>
  <a href="/main/:id/details/goals">Add goals</a>
</p>
