<p>Edit your adventure below</p>
<form method="POST" action="/main/:id/update">
  <input type="text" name="country" placeholder="<%=  @adventure.country%>">
  <input type="text" name="continent" placeholder="<%=  @adventure.continent%>">
  <input type="submit" value="Update">
</form>
