<p>Add a goal to your adventure: </p>
<div class="form">
<form method="POST" action="/main/<%adventure.id%>/details">
  <input type="text" name="name" placeholder="city">
  <input type="text" name="interest" placeholder="interest">
  <input type="submit" value="Enter">
</form>
</div>
