<!DOCTYPE html>
<html>
<head>
  <title>Travel Adventures</title>
  <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
</head>
<body>
  <h2>Travel Adventures</h2>
  <nav>
    <a href="/main">All</a>
    <a href="/main/new">New</a>
  </nav>
  <%= yield %>
</body>
</html>
