<!DOCTYPE html>
<html>
<head>
  <title>Travel Adventures</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
  <link rel="icon" href="/favicon.png">
</head>
<body>
  <img class="logo" src="/Seahorse.png" alt="seahorse">
  <h2>Travel Adventures</h2>
  <nav>
    <a href="/main">Overview</a>
    <a href="/new">New</a>
    <a href="/reviews">Reviews</a>
    <a href="/search">Search</a>
  </nav>
  <%= yield %>
</body>
</html>
