<p class="title">Reviews</p>

<%for visit in @visits%>
<p> Date: <%= visit.arrival_date()%></p>
<p> Country: <%= visit.adventure().country()%></p>
<p> Review: <%= visit.review()%> </p>
<hr>
<%end  %>
