<p class="title">Search for other countries by continent</p>

<form method="POST" action="/search/results">
  <select class="continent_select" name="continent">
    <option value="Africa">Africa</option>
    <option value="Antarctica">Antarctica</option>
    <option value="Asia">Asia</option>
    <option value="Australasia">Australasia</option>
    <option value="Europe">Europe</option>
    <option value="North America">North America</option>
    <option value="South America">South America</option>
  </select>
  <input type="submit" Value="Search">
</form>
