<form method="POST" action="/welcome/main">
  <div class="form">
    <input type="date" name="arrival_date">
    <input type="text" name="duration">
    <input type=""> take the id from the adventure
    <input type="submit" value="Enter">
  </div>
</form>
