<p>Fill in your name to start your adventure...</p>
<form method="POST" action="/main">
  <div class="form">
    <input type="text" minlength="1" name="visitor">
    <input type="submit" value="Enter">
  </div>
</form>
