body {
  background-color: Aquamarine;
  font-family: 'Handlee', cursive;
  margin: 8em;
  font-size: 1.5em;
}

nav {
  font-size: 1.4em;

}

nav, a {
  margin: 0.6em;
}

.logo {
  position: fixed;
  top: 20px;
  right: 45px;
  z-index: 7;

}

.column {
  width: 50%;
}

.visited {
  float: left;
}
.not_visited {
  float: right;
}

h2 {
  font-size: 3em;
}

h3 {
  text-decoration: underline;
}

a:visited {
color: HotPink;
background-color: transparent;
text-decoration: none;
}

a:link{
  color: #d580ff;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
color: Indigo;
background-color: transparent;
text-decoration: none;
}

input[type=submit], input[type=reset] {
  background-color: Black;
  color: Silver;
  border: 0.1em outset #C0C0C0;
  padding: 0.1em 0.3em;
  text-decoration: none;
  margin: 0.2em 0.4em;
  cursor: pointer;
  font-size: 0.6em;
}

.title  {
  
}
