body {
  background-image: radial-gradient(circle, #59839e, #6488ad, #738dba, #8791c5, #9e93cd);
  font-family: 'Handlee', cursive;
  margin: 8em;
  font-size: 1.5em;
}

nav {
  font-size: 1.4em;
}

input {
  font-size: 1em;
}

.continent_select {
  font-size: 1em;
}



nav, a {
  margin: 0.6em;
}

a {
  text-shadow: 0.04em 0.04em black;
}

.logo {
  position: fixed;
  top: 20px;
  right: 45px;
  z-index: 7;

}

.column {
  width: 50%;
}

.visited {
  float: left;
}
.not_visited {
  float: right;
}

h2 {
  font-size: 3em;
  text-shadow: 0.03em 0.04em silver;
}

h3 {
  text-decoration: underline;
}

a:visited {
  color: #2F3DC3;
  background-color: transparent;
}

a:link{
  color: ;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #9E93CD;
  background-color: transparent;
  text-decoration: none;
}

input[type=submit], input[type=reset] {
  background-color: Black;
  color: Silver;
  border: 0.1em outset #C0C0C0;
  padding: 0.1em 0.3em;
  text-decoration: none;
  margin: 0.2em 0.4em;
  cursor: pointer;
  font-size: 0.6em;
  font: #9E93CD;
  border-radius: 15%;
}

.title  {
  text-decoration: underline;
  font-weight: 800;
  text-shadow: 0.02em 0.02em white;
  font-size: 1em;

}
.hide {
  display: none;
}

.total {
  text-decoration: underline;
  font-weight: bolder;
}
.button {
  border-radius: 15%;
}
